@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/* --------------
    resets
----------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --primary-text-color: #fff ;
    --secondary-text-color:#d6e4e1 ;
    /* --secondary-text-color:#fff ; */

    --bg-dark-color: #10372B ;
    --bg-accent-color: #155938;
    --bg-light-color: #2A8347;

    --padding-line: 20px ;
}


body {
    position: relative;
    font-family: 'Oswald', sans-serif;    
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.25rem;
}

a {
    text-decoration: none;
    color: #fff;
}

ul li {
    list-style: none;
}



/* ---------------
    utility classes
 --------------- */

 .container {
    max-width: 1170px;
    height: auto;
    margin: 0 auto;
    padding: 0 var(--padding-line);
    position: relative;
}

.flex {
    display: flex;
    align-items: center;
}


.bg-trans {
    background-color: transparent;
    border: none;
    outline: none;
}

.text-align-center {
    text-align: center;
}

.color-primary {
    color: var(--primary-text-color)
}

.color-secondary {
    color: var(--secondary-text-color)
}
 /* top-close-btn */

 .message {
    width: 100%;
    padding: 10px;
 }

 .top-sms {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
 }

 .green-text {
    color: var(--bg-light-color);
    text-decoration: underline;
    cursor: pointer;
 }



 .close-btn {
    background-color: var(--bg-light-color);
    width: 20px;
    height: 20px;
    padding: 4px 6px;
    border-radius: 50%;
    cursor: pointer;
    justify-content: center;

    position: absolute;
    top: 8px;
    right: 0px;
 }

 .close-btn img {
    width: 10px;
    height: 10px;
 }
 /* logo-btn's-section  */

 #top-nav {
    width: 100vw;
    padding: 15px var(--padding-line);

    background-image: url('../assets/pattern-bg.png');
    background-size: 200px;
    background-color: var(--bg-dark-color);
 }

 .top-nav {
     justify-content: space-between;
    }

    
    
.burger {
       display: none;
    }

.buttons {
    gap: 10px;
    overflow: hidden;
}
.buttons a p {
        color: #fff;
        font-weight: 500;
        text-align: center;
    }

.btn-primary {
    background-color: var(--bg-light-color);
    background-image: url('../assets/pattern-bg.png');
    padding: 10px 20px;
    width: 200px;    
    
    clip-path: polygon(7% 0, 100% 0%, 93% 100%, 0% 100%);
 
}    

.btn-secondary{
    background-color: var(--bg-accent-color);
    background-image: url('../assets/pattern-bg.png');
    padding: 10px 20px;
    width: 200px;

    clip-path: polygon(7% 0, 100% 0%, 93% 100%, 0% 100%);
   
}

 /* navbar */

nav {
    width: 100vw;

    height: auto;
    line-height: 50px;
    align-items: center;

    background-image: url('../assets/pattern-bg.png');
    background-size: 200px;
    background-color: var(--bg-accent-color);
}

.nav-container {
    justify-content: space-between;
}

.nav-links {
    width: 70%;
}




.hover-link {
    transform: skew(-20deg);
    transition: 0.1s ease-out;
}

.no-skew{
    transform: skew(20deg);
    padding: 0 35px;
    
}

.hover-link:hover, .active-skew {
    background-color: var(--bg-light-color);
    background-image: url('../assets/pattern-bg.png');
    background-size: 100px;

    box-shadow: 0px 0px 2px var(--bg-dark-color);
}



.search-bar {
    width: 20%;   /*   */
    background-color: var(--bg-dark-color);
    background-image: url('../assets/pattern-bg.png');
    display: flex;
    gap: 0px;
    justify-content: space-between;
    

    padding: 5px 10px;
}

.bg-trans img {
    cursor: pointer;
    padding: 0; margin: 0;
    width: 15px;
}


 /* homepage-nav section */

.homepage-nav {
    width: 100vw;

    height: 100px;
    line-height: 100px;
    align-items: center;

    background: linear-gradient(to left,
    white 0%,white 50%,
    var(--bg-light-color) 50%,
    var(--bg-light-color) 100%
    );    
    /* background-image: url('../assets/pattern-bg.png'); */
    overflow: hidden;
}

.homepage-nav .container::before {
    content: '';
    width: 2500px;
    background-image: url('../assets/pattern-bg.png');
    background-size: 200px;

    position:absolute;
    top: 0;
    left: -100%;
    right: 0px;
    bottom: 0px;
}

.home-title {
    width: 75%;
    padding-inline: var(--padding-line);
    padding-inline: 7%;
    margin-left: -5%;
    color: #fff;
    
    background-image: url('../assets/pattern-bg.png');
    background-size: 200px;
    background-color: var(--bg-light-color);

    clip-path: polygon(0 0, 100% 0%, 96% 100%, 0% 100%);}



.reebok {
    width: 25%;
    justify-content: center;

    height: 100px;
    line-height: 100px;
    align-items: center;
    position: relative;

    background-color: white;
}

.reebok img{
     width: 180px;
     padding-left: 10px;
}

.small-bold-text {
    font-size: 12px;
    font-weight: 800;
    color: var(--bg-light-color);
}

.reebok-text {
    position: absolute;
    bottom: 18px;
    right: 30%;

    padding: 0px !important;
}
 /* hero section */

 .hero {
    width: 100vw;
    height: auto;
    position: relative;
    background-image: url('../assets/hero-bg.png');
    background-size: cover;
    background-position: center;

 }
.hero::after {
    content: '';

    background-color: var(--bg-dark-color);
    background-image: url('../assets/pattern-bg.png');

    position: absolute;
    top: 0; 
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.75;
}

.hero .container {
    padding-block: 0px 60px;
}

.hero-content-l {
    width: 45%;
}
.hero-content-l h2 {
    font-size: 2.75rem;
    margin-block: 20px;
}

#hero-right {
    width: 300px;
    min-height: 300px;
    
    background-image: url(../assets/video-thumbnail-img.png);
    background-size: contain;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}

#hero-right a {
    width: 65px;
    min-height: 65px;
    border-radius: 50%;

    background-color: var(--bg-dark-color);
    opacity: 0.7;

    display: flex;
    align-items: center;
    justify-content: center;
}

#hero-right a img {
    width: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
}







/* main section with two colum grid system */

.main {
  width: 100vw;  
  height: auto;
  background-color: var(--bg-dark-color);
  background-image: url('../assets/pattern-bg.png');

  padding-top: 50px;
  padding-bottom: 50px;
}
.main .container {
    justify-content: space-between;
    align-items: start;
}


.main-main {
    width: 68%;  
}


.second-slider-img {
    width: 23%;
    height: auto;
    border: 8px solid #94a8a434;

    cursor: pointer;   
}

.second-slider-item {
    padding: 0px 25px;
}

hr {
    margin: 40px auto;
    width: 95%;

}


/* card-box */

.card-box {
    gap: 10px;
    flex-wrap: wrap;

}

.card {
    width: 32%;
    min-height: 400px;
    background-color: var(--bg-light-color);
    background-image: url('../assets/pattern-bg.png');
    background-size: cover;
    
    position: relative;

}
.card-img {
    width: 100%;
    height: auto;
}

.card-img img {
    width: 100%;
    height: auto;
}
.card .card-content {
    display: flex;
    flex-direction: column;
    height: auto;
}
.card-title {
    margin: 5px 7px 5px 5px;
    font-size: 16px;
    font-weight: 600;
}

.card-text {
    margin: 5px 7px 50px 5px;

}

.card-btn {
    width: 100%;
    text-align: center;
    font-weight: 700;

    padding: 11px ;

    background-color: var(--bg-dark-color);
    background-image: url('../assets/pattern-bg.png');
    background-size: 80px;
    opacity: 0.8;

    position:absolute;
    bottom: 0px; 
    cursor: pointer;
    transition: all 0.2s linear;
}

.card-btn:hover {
    background-color: var(--bg-light-color);
    border-top: 1px solid white;
}


/* zig-zag section */

.zig-zag-box {
    margin-top: 30px;

    margin-left: -10px; /* to achive left imaginary line */
    padding-inline: 10px;

    width: 99.5%;  /* to achive rifht imaginary line */
}
.zig-zag-1 {
    background-color: var(--bg-light-color);
    background-image: url('../assets/pattern-bg.png');
    background-size: cover;

    overflow: hidden;

    position: relative;
}

.zig-zag-img-1 {
    width: 65%;
    height: 250px;

    background-image: url(../assets/zig-zag-img-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


    transform: skewX(-13deg);
    position: relative;
    left: -8%;
}

.zig-zag-content {
    width: 30%;

    padding-inline: 5px ;
    text-align: center;
}
.zig-zag-content .card-title, .zig-zag-content .card-text {
    text-align: left;
}

.zig-zag-2 {
    background-color: var(--bg-accent-color);
    background-image: url('../assets/pattern-bg.png');
    background-size: cover;

    overflow: hidden; 
}


.zig-zag-img-2 {
    width: 65%;
    height: 250px;
    background-image: url(../assets/zig-zag-img-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: skew(13deg);
    position: relative;
    right: -10%;

}

/* side-bar */

.side-bar {
    /* max-width: 265px; */

    height: auto;
    background-color: var(--bg-light-color);
    background-image: url('../assets/pattern-bg.png');

}

.events-title {
    background-color: #10372B;
    opacity: 0.75;
    padding: 8px;
    margin-bottom: 20px;

    font-weight: bolder;
    font-size: 20px;
}

.count {
    padding: 5px 12px;
    background-color: #fff;

    margin-right: 15px;

    color: #155938;
    font-size: 20px;
    font-weight: 900;
}

.event-container {
    padding: 5px 15px;

    margin-block: 0px;
    
}

.event-text {
    color: var(--secondary-text-color);
}

.event-text h4 {
    cursor: pointer;

    text-decoration: underline;

    transition: all 1s linear;
}


.event-text h4:hover {
    text-decoration: none;
}

.event-text p {
    font-size: 16px;
    margin-top: 5px;
}



/* -------------------
    CTA Section
---------------------*/

.cta {
    width: 100vw;
    height: auto; /* auto krni hai */

    padding: 50px var(--padding-line);

    background-color: var(--bg-accent-color);
    background-image: url('../assets/pattern-bg.png');

    }

    .mb-20 {
        margin-bottom: 20px;
    }

    .cta-header {
    text-align: center;
    }


.cta-form {
    width: 60%;
    height: auto;

    position: relative;
    margin-left: 200px;
}

.form-right-spacer {
    width: 30%;
}


.input-gp {
    justify-content: space-betweens;
}

.cta-input-t-text, select {
    border: none;
    padding: 10px;
    margin: 10px 0 20px 0;

    width: 90%;

    outline: none;
}

.radio input[type="radio"] {
    width: 30px; 
    height: 30px; 
    accent-color: var(--bg-accent-color);
}


.radio + .radio {
    margin-left: 40px;
}

.radio label {    /* for vertical label center */
    position: relative;
    top: -10px;
}

.input-1 {
    width: 48%;
}
.input-2 {
    width: 48%;
}

label, .gen-bold {
    font-weight: bolder;
    color: var(--primary-text-color);
}

.country-sms {
    margin-block: 20px;
}

.country-sms textarea {
    margin-top: 10px;
    width: 92%;
    padding: 15px;

    outline: none;
}

.btn-box {
    width: 98%;
    text-align: center;
}

.submit-btn {
    width: 200px;
    background-color: var(--bg-dark-color);
    background-image: url('../assets/pattern-bg.png');
    border: 1px solid #155938;


    padding: 10px;

    font-weight: bolder;
    font-size: 1rem;
    
    margin-inline: auto;

    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.submit-btn:hover {
    outline: 1px solid white;

    background-color: var(--bg-accent-color);
}


/* ------------------
    footer
---------------------- */

footer {
    width: 100vw;
    height: auto;

    background-color: var(--bg-dark-color);
    background-image: url('../assets/pattern-bg.png');
    background-size: 100px;

    transition: 0.5s linear;
}

.footer-links {
    padding-top: 20px;
}

.footer-links a {
    transition: text 0.5s ease-in;
}
.footer-links a:hover {
    text-decoration: underline;
}

.footer-icons  {
    margin-block: 15px;
}


.footer-icons img  {
    margin-inline: 5px;

}     
.icon {
    transition: all 0.2s ease-in;
}

.icon:hover {
    transform: scale(2);
}

.copyright {
    font-size: 16px;
    padding-bottom: 30px;
    cursor: pointer;
}



.copyright::before {    
    content: " ";
    position: absolute;
    bottom: 25px;
    height: 3px;
    border-radius: 50px;
    width: 0%;
    background-color: white;
    transition: width 0.3s linear;
}

.copyright:hover::before {
    width: 150px;
}

/* ----------------
    static sections
-------------------*/